body{
	font-family: 'Bitter', serif;
	font-size: 1.5em;
  color: #353535;
  background-color: #729EA1;
}
h1{
	font-family: 'Oswald', sans-serif;
  color: #2E4057;
	font-size: 3em;
	margin: 0.67em;
}
header h1{
  text-align: center;
}
header h2{
  text-align: center;
  color: #2E4057;
	margin-left:
  margin-bottom: 2em;
}
nav {
  width:  100%;
  margin: 20px;
}
nav ul {
  width: 100%;
}
nav ul li {
    width: 20%;
    margin: 1em;
    display: block;
    float: left;
    border-style: solid;
    border-width: thin;
    border-color: white;
}
nav ul li a {
  text-decoration: none;
  color: #2E4057;
}
nav ul li a:hover {
  color: white;
}

.headergrid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-column-gap: 200px;
  margin-bottom: 200px;
}
img.avatar{
	border-radius: 400px;
	border: 5px solid #fff;
  float: left;
}
img:hover{
  opacity:0.8;
}
.image {
  /*width: 400px;*/
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.projecticon {
  /*width: 400px;*/
  height: 200px;
	border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
	padding-right: 10px;
}

.projectlinks {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  /*margin-left: 200px;*/
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 100px 100px;
  grid-column-gap: 200px;
  grid-row-gap: 5px;
  color: #353535;

}

/*.row2 a {
  text-decoration: none;
  color: #1E4D2B;
}*/

/*Footer style from Font-Awesome*/
ul.social{
	display: block;
	margin: 5% 0;
	list-style-type: none;
	text-align: center;
}
ul.social li{
	font-size: 3em;
	display: inline;
	padding: 0 2%;
}
ul.social li a{
	color: #2E4057;
}
ul.social li.twitter a:hover{color: white;}
ul.social li.github a:hover{color: white;}
ul.social li.linkedin a:hover{color: white;}
ul.social li.email a:hover{color: white;}
ul.social li.piedpiper a:hover{color: white;}

p.copyright {
  font-family: 'Bitter', serif;
  font-size: 1em;
  color: #2E4057;
  margin-top: 2em;
}
