body {
  font-family: 'Bitter', serif;
  font-size: 1.5em;
  color: #2E4057;
  background-color: #97B8BA;
  margin-left: 50px;
  margin-right: 100px;

  /*max-width: 1242px;*/
}

body a {
  text-decoration: none;
	font-weight: bold;
  color: #103156;
}

body a:hover {
  color: white;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #2E4057;
  font-size: 3rem;
  /*margin: 0.67em;*/
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}

/*header h1 {
  text-align: center;
}

header h2 {
  text-align: center;
  color: #2E4057;
  margin-left: 2rem;
}*/

/*header nav {
  width: 80%;

}*/

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 100px;
}

nav ul li {
  display: grid;
  border-style: solid;
  border-width: thin;
  border-color: white;
}

/*nav ul li a {
  text-decoration: none;
  color: #103156;
}

nav ul li a:hover {
  color: white;
}*/

/*.banner {
	margin-left: 50px;
}*/

img.avatar {
  border-radius: 400px;
  border: 5px solid #fff;
  float: left;
}

img:hover {
  opacity: 0.8;
}

.image {
  /*width: 400px;*/
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.headercontainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 50px;
}

.headercontainer h1 {
  text-align: left;
  color: #2E4057;
}

.headercontainer h2 {
  text-align: left;
  color: #2E4057;
  font-size: 2rem;
}

ul.devicons {
  font-size: 2em;
  margin-top: 3rem;
  margin-bottom: 5rem;
  list-style-type: none;
  text-align: center;
  color: #2E4057;
}

.three-things {
  display: grid;
  /*margin-left: auto;*/
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 70px;
  margin-bottom: 200px;
}

.title h3 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}

.project-box {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 3fr;
  grid-row-gap: 5px;
	grid-column-gap: 30px;
  margin-left: 150px;
  margin-right: auto;
	margin-bottom: 20px;
}

.project-header, .project-footer {
  grid-column: 1 / -1;
  /* needed for the floated layout */
  clear: both;
}

@supports (display: grid) {
  .wrapper>* {
    width: auto;
    margin: 0;
  }
}

.projecticon {
  /*width: 400px;*/
  height: 200px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
}

.bio {
  width: 90%;
}

.bio p {
  margin-left: 40px;
}

.bio li {
  list-style-type: none;
}

/*.projectlinks {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  /*margin-left: 200px;*/

/*grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 100px 100px;
  grid-column-gap: 200px;
  grid-row-gap: 5px;
  color: #353535;
}*/

/*.row2 a {
  text-decoration: none;
  color: #1E4D2B;
}*/

/*Footer style from Font-Awesome*/

.colophon p {
  width: 70%;
	margin-left: 100px;
}

ul.social {
  display: block;
  margin: 5% 0;
  list-style-type: none;
  text-align: center;
}

ul.social li {
  font-size: 3em;
  display: inline;
  padding: 0 2%;
}

ul.social li a {
  color: #2E4057;
}

ul.social li.twitter a:hover {
  color: white;
}

ul.social li.github a:hover {
  color: white;
}

ul.social li.linkedin a:hover {
  color: white;
}

ul.social li.email a:hover {
  color: white;
}

ul.social li.piedpiper a:hover {
  color: white;
}

p.copyright {
  font-family: 'Bitter', serif;
  font-size: 1em;
  color: #2E4057;
  margin-top: 2em;
}
